{% extends 'my_apps/homepage_base.html' %}


{% block content %}
<div class="d-flex text-dark text-center col-11 justify-content-center align-items-center" style="margin: auto; min-height: 100vh">
    <div class="d-flex ">
        <div class="bg-body-tertiary rounded bg-light" style="padding: 1rem;">

            <div>
                <h1 class="display-1">Password Generator</h1>
            </div>

            {% if password_generated is None and password_entropy is None %}
            {% else %}
                <div style="margin-top: 3rem;">
                    <h1 class="display-6">Twoje wygenerowane hasło</h1>
                    <div class="alert alert-secondary text-dark" style="padding: 0;">
                        <label class="user-select-all h3 text-break" style="margin: 1rem;">{{ password_generated }}</label>
                    </div>
                </div>

                <div style="margin-top: 3rem; margin-bottom: 1rem;">
                    <h1 class="display-6">Entropia hasła</h1>
                    <div class="alert alert-secondary text-dark" style="padding: 0;">
                        <label class="user-select-all h3" style="margin: 1rem;">{{ password_entropy }}</label>
                    </div>
                </div>

                {% if entropy_level == "Słabe hasło" %}
                    <div class="alert alert-danger" role="alert">
                {% elif entropy_level == "Dobre hasło" %}
                    <div class="alert alert-warning" role="alert">
                {% elif entropy_level == "Znakomite hasło!" %}
                    <div class="alert alert-success" role="alert">
                {% endif %}
                        <label class="text-dark display-6">{{ entropy_level }}</label>
                    </div>

            {% endif %}

            <div style="margin-top: 3rem; margin-bottom: 3rem;">
                <h1 class="display-6">Wybierz długość hasła</h1>

                <form method="POST" action="{% url 'password_generator:password_generator' %}">
                    {% csrf_token %}
                    <div style="margin-top: 2rem;">
                        <input value="{{ len_password }}" type="range" id="rangeInput" name="rangeValue" min="8" max="40" step="1" style="width: 80%">
                        <span class="btn btn-danger" id="rangeValueDisplay">{{ len_password }}</span>
                    </div>
                    
                    <div style="margin-top: 2rem;">
                        <button type="submit" class="btn btn-success" name="generate" value="{{ rangeValue }}">Wygeneruj hasło!</button>
                    </div>

                </form>
            </div>

            <div>
                <label class="h5">Metoda obliczania entropii</label>
            </div>
            <div>
                <label class="h6">E = log2(S ** L) = L * log2(S)</label>
            </div>
            <div>
                <label class="h6">E - entropia</label>
            </div>
            <div>
                <label class="h6">S - liczba możliwych unikalnych znaków (tu: 94)</label>
            </div>
            <div>
                <label class="h6">L - liczba unikalnych znaków w haśle</label>
            </div>
            
        </div>
    </div>
</div>

<script>
    const rangeInput = document.getElementById('rangeInput');
    const rangeValueDisplay = document.getElementById('rangeValueDisplay');

    rangeInput.addEventListener('input', function() {
        rangeValueDisplay.textContent = rangeInput.value;
    });
</script>

{% endblock content %}