<div id="element-{{ index }}">
    <div class="d-flex gap-1">
        
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="check_uncheck_element_note" id="check_uncheck_element_note_{{ index }}" value="{{ index }}" 
                class="btn btn-{% if checked %}success{% else %}danger{% endif %}" 
                style="margin-top: 1rem; border: 2px solid white; width: 40px; height: 40px;">
                    <label>
                        {% if not checked %}
                            X
                        {% else %}
                            ✓
                        {% endif %}
                    </label>
                </button>
            </form>
        
        {{ form.change_element_field }}

        {% if is_owner %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="delete_element" id="delete_element-{{ index }}" value="{{ index }}" class="btn btn-dark" style="margin-top: 1rem; border: 2px solid white; width: 40px; height: 40px;">
                    <label>X</label>
                </button>
            </form>
        {% endif %}

    </div>
</div>

<script>
    $(document).ready(function() {
        var input_field = $("#change_element-{{ index }}")

        {% if checked %}
            input_field.addClass("text-decoration-line-through");
            input_field.removeClass("text-decoration-none");

        {% else %}
            input_field.addClass("text-decoration-none");
            input_field.removeClass("text-decoration-line-through");
        {% endif %}
    });
    
    {% if is_owner %}   
    $("input[id^='change_element-'][readonly]").removeAttr('readonly');
    {% endif %}
</script>