{% extends "my_apps/homepage_base.html" %}

{% block content %}
<style>
    .not_onwer_style {
        margin-top: 1rem; 
        padding: 0.5rem; 
        border: 2px solid white; 
        border-radius: 10px;
    }
</style>
<div class="col-11 mx-auto" style="min-height: 100vh; max-width: 1000px;">
    <div id="error-div" class="alert alert-danger bottom-0 end-0" style="display: none; z-index: 9999; margin: 1rem; position: fixed;">
        <style>
            #error-div {
                position: fixed;  
                bottom: 20px;     
                right: 20px;      
                z-index: 9999;   
                opacity: 1;
                transform: scale(1);  
                transition: all 1s ease-out;  /
                display: none; 
            }
        
            #error-div.fade-out {
                opacity: 0;   
                transform: scale(0.5); 
            }
        </style>
        <label id="error-content"></label>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.extra_tags }} text-center" style="padding: 0.5rem 0.5rem;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        <a href="{% url 'checklist:checklist' %}" style="text-decoration: none;">
            <button class="btn btn-sm btn-success text-light">
                <label>Wróć</label>
            </button>
        </a>
    </div>

    <div class="text-break word-wrap">
        <div class="justify-content-center mx-auto">
            {% if not is_owner %}
                <div class="text-center not_onwer_style">
                    <label>{{ note.title }}</label>
                </div>
            {% else %}

                <form method="POST" id="change-title-form">
                    {% csrf_token %}
                    {{ change_title_form.change_title_field }}
                </form>

                <script>
                    $(document).ready(function() {
                        var input_field = $("#id_change_title_field");
                        input_field.val("{{ note.title }}");
                
                        input_field.on('blur', function() {
                            change_title(input_field.val());
                        });
                
                        input_field.on('keypress', function(event) {
                            if (event.which === 13) {  // 13 = Enter
                                event.preventDefault();  // Zapobiegamy domyślnej akcji formularza
                                change_title(input_field.val());
                            }
                        });
                
                        function change_title(new_title) {
                            $.ajax({
                                url: "{% url 'checklist:note' note.id %}",
                                type: "POST",
                                headers: {
                                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() 
                                },
                                data: {
                                    change_title_field: new_title
                                },
                                success: function(response) {

                                    if (response.blank) {
                                        $(input_field).addClass("is-invalid bg-danger");
                                        $('#error-content').text(response.error);
                                        $("#error-div").show();

                                        setTimeout(function() {
                                            $('#error-div').addClass('fade-out');  
                                        }, 1000); 
                                    
                                        
                                        setTimeout(function() {
                                            $('#error-div').hide();  
                                            $('#error-div').removeClass('fade-out');
                                        }, 2000); 
                                    }
                                    else {
                                        $(input_field).removeClass("is-invalid bg-danger");

                                        $(input_field).addClass("is-valid");
                                        setTimeout(function() {
                                            $(input_field).removeClass("is-valid");
                                        }, 1000); 
                                    }
                                },
                            });
                        }
                    });
                </script>
            {% endif %}
        </div>
    </div>

    <div style="margin-top: 1rem;">
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#Invited" aria-expanded="false" aria-controls="Invited">
            {% if is_owner %}Zaproś znajomych ▾{% else %}Zaproszeni ▾{% endif %}
        </button>
        
        <div class="collapse" id="Invited" style="margin-top: 0.5rem;">
            <div class="card card-body bg-dark">

                    <div class="mb-2">
                        <label class="h3">{% if is_owner %}Usuń znajomego{% else %}Zaproszeni{% endif %}</label>
                    </div>

                    <div>
                        {% if is_owner %}
                            <form method="POST" id="delete_from_note">
                                {% csrf_token %}
                                <div class="mb-2 d-flex flex-wrap flex-row form-check" style="gap: 0.5rem; padding: 0;" id="friends_added_to_note">
                                    {{ friends.added|safe }}
                                </div>
                            </form>
                            <script>
                                $(document).on('click', '.del', function () {
                                    event.preventDefault();
                                    event.stopPropagation();

                                    let del_friend = $(this).val();

                                    $.ajax({
                                        url: "{% url 'checklist:note' note.id %}",
                                        type: "POST",
                                        data: {
                                            del_friend: del_friend,
                                            csrfmiddlewaretoken: "{{ csrf_token }}",
                                        },
                                        success: function (response) {
                                            if (response.success) {
                                                $("#friends_added_to_note").empty();
                                                $("#friends_not_added_to_note").empty();
                                                $("#friends_added_to_note").html(response.added_friends);
                                                $("#friends_not_added_to_note").html(response.not_added_friends);
                                            }
                                        },
                                    });
                                });
                            </script>


                        {% else %}
                            <div class="mb-2 d-flex flex-wrap flex-row form-check" style="gap: 0.5rem; padding: 0;" id="friends_added_to_note">
                                {{ friends.added|safe }}
                            </div>
                        {% endif %}

                    </div>
                    {% comment %} <div id="empty_added">
                        <label class="h3">Brak zaproszonych osób</label>
                    </div> {% endcomment %}



                {% if is_owner %}
                    <hr>
                    <div class="mb-2">
                        <label class="h3">Dodaj znajomego</label>
                    </div>

                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-2 d-flex flex-wrap flex-row form-check" style="gap: 0.5rem; padding: 0;" id="friends_not_added_to_note">
                                {{ friends.not_added|safe }}
                            </div>
                        </form>
                        <script>
                            $(document).on('click', '.add',function () {
                                event.preventDefault();
                                event.stopPropagation();

                                let add_friend = $(this).val();

                                $.ajax({
                                    url: "{% url 'checklist:note' note.id %}",
                                    type: "POST",
                                    data: {
                                        add_friend: add_friend,
                                        csrfmiddlewaretoken: "{{ csrf_token }}",
                                    },
                                    success: function (response) {
                                        if (response.success) {
                                            $("#friends_added_to_note").empty();
                                            $("#friends_not_added_to_note").empty();
                                            $("#friends_added_to_note").html(response.added_friends);
                                            $("#friends_not_added_to_note").html(response.not_added_friends);
                                        }
                                    },
                                });
                            });
                        </script>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div style="margin-top: 1rem; padding: 1rem; border-radius: 10px;" class="bg-dark">
        <form method="POST" id="new-note-form">
            {% csrf_token %}
            <div class="mb-2">
                {{ new_element_form.type_of_element_field.help_text }}
            </div>
            
            <div class="input-group mb-2 d-flex">
                <div>
                    {{ new_element_form.type_of_element_field }}
                </div>
            </div>

            <div class="form-floating text-dark mb-3">
                {{ new_element_form.element_field }}
                <label for="id_element_field">{{ new_element_form.element_field.help_text }}</label>
            </div>

            <div class="justify-content-end d-flex">
                <button class="btn btn-sm btn-success" type="submit" name="add_element">Dodaj</button>
            </div>

            <script>
                $(document).ready(function() {
                    $('#new-note-form').on('submit', function(e) {
                        e.preventDefault(); 
    
                        $.ajax({
                            url: "{% url 'checklist:note' note.id %}",
                            type: "POST",
                            data: {
                                type_of_element_field: $('#id_type_of_element_field').val(),
                                element_field: $('#id_element_field').val(),
                                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                            },
                            success: function(response) {
                                if (response.success_notes) {
                                    $('#text-notes-div').empty();
                                    $('#text-notes-div').html(response.html);
                                }

                                if (response.success_elements) {
                                    $('#elements-div').empty();
                                    $('#elements-div').html(response.html);
                                }

                                if (response.success_groups) {
                                    $("#groups-div").empty();
                                    $("#groups-div").html(response.html);
                                }

                                if (response.blank) {
                                    $("#id_element_field").addClass("is-invalid bg-danger");
                                    $('#error-content').text(response.error);
                                    $("#error-div").show();
            
                                    setTimeout(function() {
                                        $('#error-div').addClass('fade-out');  
                                    }, 1000); 
                                
                                    
                                    setTimeout(function() {
                                        $('#error-div').hide();  
                                        $('#error-div').removeClass('fade-out');
                                    }, 2000); 
                                }
                                else {
                                    $("#id_element_field").removeClass("is-invalid bg-danger");
                                }
                            },
                        });
                    });
                });
            </script>
        </form>
    </div>

    
    <div class="bg-dark" style="margin-top: 1rem; margin-bottom: 1rem; border-radius: 10px; padding: 0.5rem;">
        <label class="h1">Notatki tekstowe</label>

        <div id="text-notes-div">
            {{ text_notes|safe }}
        </div>

        <hr>
        <label class="h1">Checklista</label>

        <div id="elements-div">
            {{ elements|safe }}
        </div>

        <div id="groups-div">
            {{ groups|safe }}
        </div>

    </div>


    {% if is_owner %}
    <div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-danger" style="margin-top: 5rem;" type="button" data-bs-toggle="collapse" data-bs-target="#DeleteNote" aria-expanded="false" aria-controls="DeleteNote">
                Usuń notatkę
            </button>
        </div>
    </div>
    
    <div class="collapse" id="DeleteNote">
        <div class="justify-content-end mx-auto d-flex">
            <div style="margin-top: 1rem; padding: 1rem; background-color: #1c1c1c;border-radius: 10px;">
                <label>Chcesz usunąć tę notatkę?</label>
    
                <form method="POST" class="d-flex justify-content-end" style="margin: 0; margin-top: 1rem;">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger" type="submit" name="delete" value="{{ note.id }}">
                        Usuń
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        {% if is_owner %}
        $("input[id^='id_change_title_field'][readonly]").removeAttr('readonly');

        // zmiana zawartości elementu
        $(document).on('blur', "[id^='change_element-']", function(e) {
            e.stopPropagation();
            save_element($(this));
        });

        $(document).on('keypress', "[id^='change_element-']", function(e) {
            if (e.which === 13 && !e.shiftKey) {  // 13 = Enter
                e.preventDefault();
                e.stopPropagation();
                save_element($(this));
            }
        });

        function save_element(form) {
            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    change_element_field: form.val(),
                    text_id: form.attr('id').match(/\d+/)[0],
                },
                success: function(response) {
                    if (response.success_change_element) {
                        $(form).addClass("is-valid");
                        setTimeout(function() {
                            $(form).removeClass("is-valid");
                        }, 1000); 
                    }
                    
                    if (response.blank) {
                        $(form).addClass("is-invalid");
                        $('#error-content').text(response.error);
                        $("#error-div").show();

                        setTimeout(function() {
                            $('#error-div').addClass('fade-out');  
                        }, 1000); 
                    
                        
                        setTimeout(function() {
                            $('#error-div').hide();  
                            $('#error-div').removeClass('fade-out');
                        }, 2000); 
                    }
                    else {
                        $(form).removeClass("is-invalid");
                    }
                },
            });
        }

        // usuwanie elementu
        $(document).on('click', "[id^='delete_element-']", function(e) {
            e.preventDefault();  
            e.stopPropagation(); 

            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    delete_element: $(this).val(),
                },
                success: function(response) {
                    if (response.success_del_element) {
                        $('#elements-div').empty();
                        $('#elements-div').html(response.html);
                    }
                },
            });
        });
        {% endif %}

        // check i uncheck elementu
        $(document).on('click', "[id^='check_uncheck_element_note_']", function(e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    check_uncheck_element_note: $(this).attr('id').match(/\d+/)[0],
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(response) {
                    if (response.success_element) {
                        $('#elements-div').empty();
                        $('#elements-div').html(response.html);
                    }
                },
            });
        });


        // GRUPY

        {% if is_owner %}
        // usuń grupę
        $(document).on('click', '#delete_group', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                type: "POST",
                url: "{% url 'checklist:note' note.id %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    delete_group: $(this).val(),
                },
                success: function(response) {
                    if (response.delete_success) {
                        $("#groups-div").empty();
                        $("#groups-div").html(response.html);
                    }
                },
            });
        });
        {% endif %}

        // check i uncheck elementu w grupie
        $(document).on('click', "[id^='check_uncheck_element_in_group-']", function(e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    check_uncheck_element_in_group: $(this).attr('id').match(/\d+_\d+/)[0],
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(response) {
                    if (response.check_element_in_group) {
                        $('#groups-div').empty();
                        $('#groups-div').html(response.html);
                    }
                },
            });
        });

        {% if is_owner %}
        // zmiana nazwy grupy
        $(document).on('blur', "[id^='change_group-']", function(e) {
            e.stopPropagation();
            
            save_new_group_name($(this));
        });

        $(document).on('keypress', "[id^='change_group-']", function(e) {

            if (e.which === 13) {
                e.preventDefault();
                e.stopPropagation();
                save_new_group_name($(this));
            }
        });

        function save_new_group_name(input_form) {
            $.ajax({
                type: "POST",
                url: "{% url 'checklist:note' note.id %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    change_group_field: input_form.val(),
                    group_id: input_form.attr('id').match(/\d+/)[0],
                },
                success: function(response) {
                    if (response.change_group_name) {
                        //$("#groups-div").empty();
                        //$("#groups-div").html(response.html);
                        $(input_form).addClass("is-valid");
                        setTimeout(function() {
                            $(input_form).removeClass("is-valid");
                        }, 1000); 
                    }

                    if (response.blank) {
                        $(input_form).addClass("is-invalid");
                        $('#error-content').text(response.error);
                        $("#error-div").show();

                        setTimeout(function() {
                            $('#error-div').addClass('fade-out');  
                        }, 1000); 
                    
                        
                        setTimeout(function() {
                            $('#error-div').hide();  
                            $('#error-div').removeClass('fade-out');
                        }, 2000); 
                    }
                    else {
                        $(input_form).removeClass("is-invalid");
                    }
                }
            });
        };
        {% endif %}

        // dodaj element do grupy
        $(document).on('submit', "[id^='add_to_group-']", function(e) {
            e.preventDefault();

            var form = $(this);

            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    add_to_group_field: form.find("[id^='add_to_group_field-']").val(),
                    group_id: form.find("[id^='add_to_group_button-']").attr('id').match(/\d+/)[0],
                },
                success: function(response) {
                    if (response.add_element_in_group) {
                        $("#groups-div").empty();
                        $("#groups-div").html(response.html);
                    }

                    if (response.blank) {
                        form.find("[id^='add_to_group_field-']").addClass("is-invalid bg-danger");
                        $('#error-content').text(response.error);
                        $("#error-div").show();

                        setTimeout(function() {
                            $('#error-div').addClass('fade-out');  
                        }, 1000); 
                        
                        setTimeout(function() {
                            $('#error-div').hide();  
                            $('#error-div').removeClass('fade-out');
                        }, 2000); 
                    }
                    else {
                        form.find("[id^='add_to_group_field-']").removeClass("is-invalid bg-danger");
                    }
                },
            });
        });

        {% if is_owner %}
        // zmień treść elementu w grupie 
        $(document).on('keypress', "[id^='change_element_in_group-']", function(e) {
            if (e.which === 13) {
                e.preventDefault();
                e.stopPropagation();
                save_element_in_group($(this));
            }
        });


        $(document).on('blur', "[id^='change_element_in_group-']", function(e) {
            e.stopPropagation();
            save_element_in_group($(this));

        });

        function save_element_in_group(form) {
            $.ajax({
                type: "POST",
                url: "{% url 'checklist:note' note.id %}",
                data: {
                    change_element_in_group_field: form.val(),
                    element_id: form.attr('id').match(/\d+_\d+/)[0],
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(response) {
                    if (response.change_element_in_group) {
                        //$("#groups-div").empty();
                        //$("#groups-div").html(response.html);
                        $(form).addClass("is-valid");
                        setTimeout(function() {
                            $(form).removeClass("is-valid");
                        }, 1000); 
                    }

                    if (response.blank) {
                        $(form).addClass("is-invalid");
                        $('#error-content').text(response.error);
                        $("#error-div").show();

                        setTimeout(function() {
                            $('#error-div').addClass('fade-out');  
                        }, 1000); 
                        
                        setTimeout(function() {
                            $('#error-div').hide();  
                            $('#error-div').removeClass('fade-out');
                        }, 2000); 
                    }
                    else {
                        $(form).removeClass("is-invalid");
                    }
                }
            })
        };

        // usuwanie elementu w grupie
        $(document).on('click', "[id^='delete_element_in_group-']", function(e) {
            e.preventDefault();
            e.stopPropagation();

            $.ajax({
                type: "POST",
                url: "{% url 'checklist:note' note.id %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    delete_element_in_group: $(this).attr('id').match(/\d+_\d+/)[0],
                },
                success: function(response) {
                    if (response.del_element_in_group) {
                        $("#groups-div").empty();
                        $("#groups-div").html(response.html);
                    }
                }
            });
        });
        {% endif %}

        // check uncheck wszystkie elementy w grupie
        $(document).on('click', "[id^='uncheck_all_group']", function(e) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                type: "POST",
                url: "{% url 'checklist:note' note.id %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    uncheck_all_group: $(this).val(),
                },
                success: function(response) {
                    if (response.check_all) {
                        $("#groups-div").empty();
                        $("#groups-div").html(response.html);
                    }
                }

            });
        });

        $(document).on('click', "[id^='check_all_group']", function(e) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                type: "POST",
                url: "{% url 'checklist:note' note.id %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    check_all_group: $(this).val(),
                },
                success: function(response) {
                    if (response.check_all) {
                        $("#groups-div").empty();
                        $("#groups-div").html(response.html);
                    }
                }

            });
        });



        // NOTATKI TEKSTOWE
        {% if is_owner %} 
        // usuwanie notatek tekstowych
        $(document).on('click', "[id^='delete_text_note_']", function(e) {
            e.preventDefault();  

            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    delete_text_note: $(this).val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(response) {
                    if (response.success) {
                        $('#text-notes-div').empty();
                        $('#text-notes-div').html(response.html);
                    }
                },
            });
        });


        // zmiana notatek tekstowych
        $(document).on('blur', "[id^='change_text_note-']", function(e) {
            e.stopPropagation();
            save_note($(this));
        });

        $(document).on('keypress', "[id^='change_text_note-']", function(e) {
            if (e.which === 13 && !e.shiftKey) {  // 13 = Enter
                e.preventDefault();
                e.stopPropagation();
                save_note($(this));
            }
        });

        function save_note(form) {
            $.ajax({
                url: "{% url 'checklist:note' note.id %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    change_text_field: form.val(),
                    text_id: form.attr('id').match(/\d+/)[0],
                },
                success: function(response) {
                    if (response.success) {
                        $(form).addClass("is-valid");
                        setTimeout(function() {
                            $(form).removeClass("is-valid");
                        }, 1000); 
                    }
                    if (response.blank) {
                        $(form).addClass("is-invalid");
                        $('#error-content').text(response.error);
                        $("#error-div").show();

                        setTimeout(function() {
                            $('#error-div').addClass('fade-out');  
                        }, 1000); 
                    
                        
                        setTimeout(function() {
                            $('#error-div').hide();  
                            $('#error-div').removeClass('fade-out');
                        }, 2000); 
                    }
                    else {
                        $(form).removeClass("is-invalid");
                    }
                },
            });
        };
        {% endif %}

    });
</script>
{% endblock content %}