<div id="note-{{ index }}">
    <div class="d-flex gap-1">

        {{ form.change_text_field }}
        
        {% if is_owner %}
        <div>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" id="delete_text_note_{{ index }}" name="delete_text_note" value="{{ index }}" 
                class="btn btn-sm btn-dark" 
                style="margin-top: 1rem; border: 2px solid black; width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; padding: 0;">
                    X
                </button>
            </form>
        </div>
        {% endif %}

    </div>
</div>
<script>      
    {% if is_owner %}
    $("textarea[id^='change_text_note-'][readonly]").removeAttr('readonly');
    {% endif %}
</script>