<div id="note-{{ index }}">
    <div class="d-flex gap-1">

        {{ form.change_text_field }}
        
        {% if is_owner %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" id="delete_text_note_{{ index }}" name="delete_text_note" value="{{ index }}" class="btn btn-dark" style="margin-top: 1rem; border: 2px solid white; width: 40px; height: 40px;">
                <label>X</label>
            </button>
        </form>
        {% endif %}

    </div>
</div>
<script>      
    {% if is_owner %}
    $("textarea[id^='change_text_note-'][readonly]").removeAttr('readonly');
    {% endif %}
</script>