{% extends 'my_apps/homepage_base.html' %}


{% block content %}

<div class="container text-center">
    <div class="">

        <div class="row justify-content-center">
            <div class="col-sm-5 col-lg-5 col-xl-5" style="margin-bottom: 5rem;">
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <h2 class="border-bottom">Zamień Brixy na Balingi</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="bx" class="form-control" type='text' name='brix' value="{{ brix }}"/>
                            <label>Brix</label>
                        </div>

                        <div style="margin: 0.5rem;">
                            <button style="width: 100%" class="btn btn-success btn-lg" type="submit">Oblicz</button>
                        </div>
                    </form>
            
                    {% if baling_wynik %}
                        <div class="alert alert-success" style="margin: 0.5rem;" role="alert">
                            {{ baling_wynik }}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            <div class="col-sm-5 col-lg-5 col-xl-5" style="margin-bottom: 5rem;">
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <h2 class="border-bottom">Zamień Balingi na Brixy</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="blg" class="form-control" type='text' name='baling' value="{{ baling }}"/>
                            <label>Baling</label>
                        </div>

                        <div style="margin: 0.5rem;">
                            <button style="width: 100%" class="btn btn-success btn-lg" type="submit">Oblicz</button>
                        </div>
                    </form>
            
                    {% if brix_wynik %}
                        <div class="alert alert-success" style="margin: 0.5rem;" role="alert">
                            {{ brix_wynik }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    

        <div class="row justify-content-center">
            <div class="col-sm-5 col-lg-5 col-xl-5" style="margin-bottom: 5rem;">
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <h2 class="border-bottom">Zamień Brixy na procenty</h2>
            
                    <form method="post">
                        {% csrf_token %}
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="bx_p" class="form-control" type='text' name='brix_start' value="{{ brix_start }}"/>
                            <label>Wartość początkowa:</label>
                        </div>

                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="bx_k" class="form-control" type='text' name='brix_end' value="{{ brix_end }}"/>
                            <label>Wartość końcowa:</label>
                        </div>

                        <div style="margin: 0.5rem;">
                            <button style="width: 100%" class="btn btn-success btn-lg" type="submit">Oblicz</button>
                        </div>
                    </form>
            
                    {% if proc_bx_wynik %}
                        <div class="alert alert-success" style="margin: 0.5rem;" role="alert">
                            {{ proc_bx_wynik }}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            <div class="col-sm-5 col-lg-5 col-xl-5" style="margin-bottom: 5rem;">
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <h2 class="border-bottom">Zamień Balingi na procenty</h2>
            
                    <form method="post">
                        {% csrf_token %}
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="blg_p" class="form-control" type='text' name='blg_start' value="{{ blg_start }}"/>
                            <label>Wartość początkowa:</label>
                        </div>
                        
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="blg_k" class="form-control" type='text' name='blg_end' value="{{ blg_end }}"/>
                            <label>Wartość końcowa:</label>
                        </div>
                        
                        <div style="margin: 0.5rem;">
                            <button style="width: 100%" class="btn btn-success btn-lg" type="submit">Oblicz</button>
                        </div>
                    </form> 
            
                    {% if proc_blg_wynik %}
                        <div class="alert alert-success" style="margin: 0.5rem;" role="alert">
                            {{ proc_blg_wynik }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    

        <div class="row justify-content-center">
            <div class="col-sm-5 col-lg-5 col-xl-5" style="margin-bottom: 5rem;">
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <h2 class="border-bottom">Ilość glukozy do refermentacji</h2>
                
                    <form method="post">
                        {% csrf_token %}
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="pn" class="form-control" type='text' name='co2' value="{{ co2 }}"/>
                            <label>Poziom nagazowania [g/l]:</label>
                        </div>

                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="op" class="form-control" type='text' name='piwo' value="{{ piwo }}"/>
                            <label>Objętowść piwa [l]:</label>
                        </div>

                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="tf" class="form-control" type='text' name='temp' value="{{ temp }}"/>
                            <label>Temperatura fermentacji [℃]:</label>
                        </div>

                        <div style="margin: 0.5rem;">
                            <button style="width: 100%" class="btn btn-success btn-lg" type="submit">Oblicz</button>
                        </div>
                    </form>
    
                    {% if glukoza_wynik %}
                        <div class="alert alert-danger" style="margin: 0.5rem;" role="alert">
                            {{ glukoza_wynik }}
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="col-sm-5 col-lg-5 col-xl-5" style="margin-bottom: 5rem;">
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <h2 class="border-bottom">Roztwór o podanej gęstości</h2>
                
                    <form method="post">
                        {% csrf_token %}
                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="gp" class="form-control" type='text' name='blg_pocz' value="{{ blg_pocz }}"/>
                            <label>Gęstość początkowa [BLG]:</label>
                        </div>

                        <div style="margin: 0.5rem;" class="form-floating">
                            <input placeholder="g" class="form-control" type='text' name='glukoza' value="{{ glukoza }}"/>
                            <label>Glukoza [g]:</label>
                        </div>
                        
                        <div style="margin: 0.5rem;">
                            <button style="width: 100%" class="btn btn-success btn-lg" type="submit">Oblicz</button>
                        </div>
                    </form>
        
                    {% if roztwor_wynik %}
                        <div class="alert alert-success" style="margin: 0.5rem;" role="alert">
                            {{ roztwor_wynik }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
            
    
        <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-10 col-xl-10" colspan='2'>
                <div class="bg-body-tertiary rounded bg-light text-dark" style="padding: 1rem;">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <h2>Poziom nagazowania dla różnych styli</h2>
                            </tr>
                            <tr>
                                <th scope="col">Styl</td>
                                <th scope="col">Nagazowanie mininalne</td>
                                <th scope="col">Nagazowanie maksymalne</td>
                            </tr>
                            
                        </thead>
                        
                        <tbody>
                            
                            {% for piwo in style_piwne %}
                                <tr>
                                    {% for key, value in piwo.items %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}