{% extends 'my_apps/homepage_base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="text-center">
    <button type="button" data-bs-toggle="modal" class="btn btn-success btn-lg" data-bs-target="#exampleModal1" id="random-dog-button" name='dog'>
        
        <svg style="vertical-align: sub;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
        </svg>

        Wylosuj pieska

        <svg style="vertical-align: sub;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
        </svg>

    </button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#random-dog-button').click(function() {
                $.ajax({
                    url: 'https://dog.ceo/api/breeds/image/random',
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        var imgSrc = data.message;
                        $('#random-dog-image').attr('src', imgSrc);
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Wylosowany piesek</h1>
                </div>
    
                <div class="modal-body text-center">
                    <div style="margin-bottom: 1rem;">
                        <img id="random-dog-image" class="img-fluid">
                    </div>
    
                    <div>
                        <label>Źródło: <a href="https://dog.ceo/">DOG CEO</a></label>
                    </div> 
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fajny!</button>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container-fluid text-center" style="margin: 0rem; margin-top: 2rem; padding:0">
    <div class="row justify-content-center" style="margin: 0; padding:0">

        <div class="col-11" style="margin: 0rem; padding:0">

            <div class="" style="margin: 0; padding:0">
                <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#HomepageMenu" aria-expanded="false" aria-controls="HomepageMenu">
                    <svg style="vertical-align: sub;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    Menu
                </button>
            </div>
            
            <div class="collapse" id="HomepageMenu" style="margin: 0; margin-top: 1rem; padding: 0" >
                <div class="card card-body text-dark container-fluid border border-dark border border-0" style="margin: 0; padding: 0; background: rgba(0,0,0,0)">

                    <div class="d-flex flex-wrap justify-content-center">

                        {% for app_name in app_names %}
                            <div class="" style="margin: 0; padding: 0.5rem;">
                                <button class="btn btn-sm btn-primary">
                                    <label class="fs-6" style="margin: 0; margin: 0;">
                                        <a href="#{{ app_name }}" class="link-light" style="text-decoration: none;">
                                            {{ forloop.counter }}. {{ app_name }}
                                        </a>
                                    </label>
                                </button>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<div class="text-center" style="margin-top: 2rem; min-height: 100%">

    <div class="d-flex flex-wrap justify-content-center text-dark" style="margin: 0;">

        <label class="h1 text-wrap text-break text-light">Załóz konto aby uzyskać dostęp do wszystkich aplikacji</label>

        {% for key, apps in app_dict.items %}
            <div class='flex-row text-light' style="width: 100%; margin-top: 10rem; margin-bottom: 1rem;">
                <label class="h1">{{ key }}</label>
            </div>

            {% for app in apps %}
                <div class="mx-auto" style="scroll-margin-top: 75px; margin-top: 2rem;" id="{{ app.name }}">
                    <div class="card shadow-lg" style="width: 20rem; height: 100%">
                        <div id="carouselExample{{forloop.counter}}" class="carousel slide">
                            <div class="carousel-inner">
                                {% for img in app.images %}

                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                    {% else %}
                                        <div class="carousel-item">
                                    {% endif %}
                                            <img src= "{{ img.url }}" class="d-block w-100 img-fluid" alt="..." id="img">
                                        </div>

                                {% endfor %}
                                
                                {% if app.more_img %}
                                    <button class="carousel-control-prev btn-primary" data-bs-target="#carouselExample{{forloop.counter}}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
        
                                    <button class="carousel-control-next btn-primary" data-bs-target="#carouselExample{{forloop.counter}}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                {% else %}

                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ app.name }}</h5>
                            <p class="card-text">{{ app.description }}</p>
                        </div>

                        <div class="card-footer">
                            {% if user.is_authenticated %}
                                <a href= {% url app.url %}>
                                    <button class="btn btn-sm btn-primary">Otwórz</button>
                                </a>
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
            
    </div>
</div>

{% endblock content %}  