{% extends 'my_apps/homepage_base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

<div>
    <div class="btn-group mt-1 mb-1 px-1 py-1" role="group">
        <div>
                <button type="button" 
                    data-bs-toggle="modal" 
                    class="btn btn-light btn-sm"
                    data-bs-target="#exampleModal1"
                    id="random-dog-button"
                    name='dog'>
                    Wylosuj pieska!
                </button>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#random-dog-button').click(function() {
                    $.ajax({
                        url: 'https://dog.ceo/api/breeds/image/random',
                        method: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            var imgSrc = data.message;
                            $('#random-dog-image').attr('src', imgSrc);
                        },
                        error: function(xhr, status, error) {
                            console.log('Error:', error);
                        }
                    });
                });
            });
        </script>

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered text-dark">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Wylosowany piesek</h1>
                    </div>

                    <div class="modal-body text-center">
                        <img style="max-width: 20rem; max-height: 20rem; margin: 0 auto;" id="random-dog-image" src=''> 
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fajny!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluidtext-center text-center" style="margin-top: 2rem;">

    <div class="">
        <h1>Załóż konto i uzyskaj dostęp do wszystkich następujących aplikacji.</h1>
    </div>

    <div class="mt-5 mb-3">
        <h2>Aplikacje dostępne po zalogowaniu się:</h2>
    </div>

    <div class="container text-dark">
        <div class="row">

            {% for app in log_in_app %}
                {% if app == '0' %}
                    <div class="col d-flex justify-content-center" style="margin-top: 1rem;">
                        <div class="card shadow-lg" aria-hidden="true" style="width: 20rem;">
                            {% comment %} <img src="" class="card-img-top" alt="..."> {% endcomment %}
                            <div class="card-body">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6"></a>
                            </div>
                        </div>
                    </div>


                {% else %}
                    <div class="col d-flex justify-content-center" style="margin-top: 1rem;">
                            {#}d-flex justify-content-center - wyśrodkowało mi element w kolumnie{#}
                        <div class="card shadow-lg" style="width: 20rem;">
                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">
                                    {% for img in app.images %}

                                        {% if forloop.counter == 1 %}
                                            <div class="carousel-item active">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                                <img src= "{% static img %}" class="d-block w-100 img-fluid" alt="..." id="img">
                                            </div>

                                    {% endfor %}
                                    
                                    {% if app.more_img %}
                                        <button class="carousel-control-prev btn-primary" data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
            
                                        <button class="carousel-control-next btn-primary" data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    {% else %}

                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <h5 class="card-title">{{ app.name }}</h5>
                                <p class="card-text">{{ app.description }}</p>
                                {% if user.is_authenticated %}
                                    <a href= {% url app.url %}>
                                        <button class="btn btn-sm btn-primary">Otwórz</button>
                                    </a>
                                {% else %}
                                    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            
            
        </div>
    </div>
     
    
    
    <div class="mt-5 mb-3">
        <h2>Aplikacje dostępne bez logowania:</h2>
    </div>
    
    <div class="container text-dark">
        <div class="row">

            {% for app in log_out_app %}
                {% if app == '0' %}
                    <div class="col d-flex justify-content-center" style="margin-top: 1rem;">
                        <div class="card shadow-lg" aria-hidden="true" style="width: 20rem;">
                            {% comment %} <img src="{% static 'pineapple.jpg' %}" class="card-img-top" alt="..."> {% endcomment %}
                            <div class="card-body">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6"></a>
                            </div>
                        </div>
                    </div>


                {% else %}
                    <div class="col d-flex justify-content-center" style="margin-top: 1rem;">
                            {#}d-flex justify-content-center - wyśrodkowało mi element w kolumnie{#}
                        <div class="card shadow-lg" style="width: 20rem;">
                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">
                                    {% for img in app.images %}

                                        {% if forloop.counter == 1 %}
                                            <div class="carousel-item active">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                                <img src= "{% static img %}"
                                                class="d-block w-100 img-fluid" alt="...">
                                            </div>

                                    {% endfor %}
                                    
                                    {% if app.more_img %}
                                        <button class="carousel-control-prev btn-primary" data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
            
                                        <button class="carousel-control-next btn-primary" data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    {% else %}
                                    
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <h5 class="card-title">{{ app.name }}</h5>
                                <p class="card-text">{{ app.description }}</p>
                                <a href= {% url app.url %}>
                                    <button class="btn btn-sm btn-primary">Otwórz</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            

        </div>
    </div>
    
</div>

{% endblock content %}  