<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" style="margin: 0rem; padding: 0.25rem;">
    <table class="table table-borderless text-light" style="margin: 0rem; padding: 0rem; table-layout: fixed; --bs-table-bg: rgba(0,0,0,0)">

        <thead>
            <div class="h1 text-center">
                {{ month }}
            </div>

            <tr class="border-bottom">
                {% for day in days %}
                    <th class="flex-fill text-center text-light">{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for week in weeks %}
                <tr class="border border-0">
                    {% for day in week %}
                        {{ day|safe }}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>