{% extends "my_apps/homepage_base.html" %}

{% block content %}
<div class="col-11 mx-auto" style="min-height: 100%;">

    <div class="text-center">
        <label class="h1">Edytuj wydarzenie</label>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            <label class="h3">
                {{ form_new_event.event_title.label }}
            </label>
            {{ form_new_event.event_title }}
        </div>
        
        <div>
            <label class="h3">
                {{ form_new_event.event_location.label }}
            </label>
            {{ form_new_event.event_location }}
        </div>
        
        <div>
            <label class="h3">
                {{ form_new_event.event_description.label }}
            </label>
            {{ form_new_event.event_description }}
        </div>
        
        <div>
            <label class="h3">
                {{ form_new_event.event_date.label }}
            </label>
            {{ form_new_event.event_date }}

            <button type="button" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDate">
                Wybierz datę
            </button>
        </div>

        <div>

            <div class="dropdown">
                <div class="form-group d-flex flex-row flex-wrap">
                    <div class="flex-col m-2">
                        <label class="h3 m-0 p-0">
                            {{ form_new_event.event_time.label }}
                        </label>
                    </div>

                    <div class="flex-col m-2">
                        <select class="form-select" name="selected_hour">
                            {% for h in hours %}
                                {% if h == event_time.0 %}
                                <option selected>{{ h }}</option>
                                {% else %}
                                <option>{{ h }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flex-col m-2">
                        <select class="form-select" name="selected_minute">
                            {% for m in minutes %}
                                {% if m == event_time.1 %}
                                <option selected>{{ m }}</option>
                                {% else %}
                                <option>{{ m }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
    
                </div>

            </div>
    
        </div>

        <div class="text-center mt-2 mb-2">
            <label class="h1">Zaproś znajomych</label>
            <div class="text-start d-flex flex-row flex-wrap mt-2" style="gap: 2rem;">
                {% for friend in rest_friends %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="add_friends" value="{{ friend.id }}" id="friend{{ friend.id }}">
                        <label class="form-check-label h6" for="friend{{ friend.id }}">
                            {{ friend }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center mt-2 mb-2">
            <label class="h1">Usuń znajomych</label>
            <div class="text-start d-flex flex-row flex-wrap mt-2" style="gap: 2rem;">
                {% for friend in invited_friends %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="del_friends" value="{{ friend.id }}" id="friend{{ friend.id }}">
                        <label class="form-check-label h6" for="friend{{ friend.id }}">
                            {{ friend }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div style="margin-top: 1rem; margin-bottom: 1rem;">
            <button class="btn btn-md btn-success" type="submit" name="save_changes">
                Zapisz
            </button>
        </div>

    </form>

    <div class="d-flex flex-row flex-wrap justify-content-end mx-auto" style="gap: 2rem;">
        <div style="margin-top: 1rem; margin-bottom: 1rem;">
            <button class="btn btn-md btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModalDel">
                Usuń
            </button>
        </div>

        <div style="margin-top: 1rem; margin-bottom: 1rem;">
            <button class="btn btn-md btn-primary">
                <a class="text-decoration-none text-light" href="{% url 'my_apps:meetings_calendar' %}">
                    Wróć
                </a>
            </button>
        </div>
    </div>

</div>


<div class="modal fade text-dark" id="exampleModalDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="margin: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Wybierz datę</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% for month, weeks in calendar.items %}
                    <div>
                        <div>
                            <label>{{ month }}</label>
                        </div>

                        <div>
                            {% for week in weeks %}
                                {% for day in week %}
                                    {% if day != '00' %}
                                        <button class="btn btn-sm btn-primary date-link" value="{{ day }}/{{ forloop.parentloop.parentloop.counter }}/{{ year }}">
                                            {{ day }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-dark" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Usuń wydarzenie</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <label>Czy chcesz usunąć to wydarzenie?</label>
        </div>

        <div class="modal-footer">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name='del_event'>Usuń</button>
            </form>
        </div>

      </div>
    </div>
</div>

<script>
    $(function() {
        // Funkcja, która reaguje na kliknięcie na datę
        $('.date-link').click(function(event) {
            event.preventDefault(); // Zatrzymuje domyślne zachowanie przycisku
            var dateParts = $(this).val().split('/');
            var selectedDate = dateParts[0] + '-' + dateParts[1].padStart(2, '0') + '-' + dateParts[2];
            $("#id_event_date").val(selectedDate);
        });
    });
</script>
{% endblock content %}