{% extends 'my_apps/homepage_base.html' %}
{% load filters %}

{% block content %}

<div class="col-11 mx-auto" style="min-height: 100vh;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.extra_tags }} h6 text-dark" style="padding: 0.5rem 0.5rem;">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid center" style="margin-top: 2rem; padding: 0;">
        
        <label style="margin: 0; padding: 0; margin-bottom: 0.5rem;">
            <h4 style="margin: 0; padding: 0;">Pasek postępu {{ today_date.0 }} roku:</h4>
        </label>

        <div class="progress" role="progressbar" aria-label="Animated striped example" style="height: 25px; margin: 0; padding: 0;"> 
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ year_progress }}%">
                {% if year_progress < 2.5 %}
                {% else %}
                    <label><strong>{{ year_progress }}%</strong></label>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin: 0; padding: 0; margin-top: 2rem;">

        <div class="accordion accordion-flush text-dark" id="range_year">

            <div class="accordion-item">

                <label class="h2 accordion-header w-100">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Kalendarz {{ year_choosen }}
                    </button>
                </label>
                
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#range_year">
                    <div class="d-flex justify-content-center mx-auto flex-wrap" style="padding: 1rem;">

                        <form method="POST" style="padding: 0; margin: 0;">
                            {% csrf_token %}
                            {% for year in year_range %}
                                {% if year == today_date.0 %}
                                    <button name="year_button" class="btn btn-success" value="{{ year }}" style="margin: 0.25rem;"> 
                                        <label>{{ year }}</label>
                                    </button>
                                {% else %}
                                    <button name="year_button" class="btn btn-primary" value="{{ year }}" style="margin: 0.25rem;">
                                        <label>{{ year }}</label>
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="d-flex justify-content-center mx-auto gap-2 text-nowrap flex-wrap" style="margin: 2rem;">
        <a href="{% url "my_apps:meetings_new_event" year=year_choosen %}">
            <button class="btn btn-md btn-success">
                Utwórz wydarzenie
            </button>
        </a>
        <a href="{% url "my_apps:meetings_new_event" year=year_choosen %}">
            <a class="btn btn-md btn-primary text-nowrap" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Wszystkie wydarzenia
                <span class="badge bg-success">{{ all_events_counter }}</span>
            </a>
        </a>
    </div>

    <div class="row mx-auto" style="margin-top: 2rem; padding: 0rem;">
           
        {% for month_name, month in calendar.items %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" style="margin: 0rem; padding: 0.25rem;">
                
                <table class="table table-borderless text-light" style="margin: 0rem; padding: 0rem; table-layout: fixed; --bs-table-bg: rgba(0,0,0,0)">
                    <thead>
                        <div class="h1 text-center">
                            {{ month_name }}
                        </div>

                        <tr class="border-bottom">
                            {% for day in days %}
                                <th class="flex-fill text-center text-light">{{ day }}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for week in month %}
                            <tr class="border border-0">
                                {% for day in week %}
                                    {% if day == '00' %}
                                        <th></th>
                                    {% else %}
                                        <th class="text-center" style="margin: 0; padding: 0.15rem;">
                                            <button  
                                                {% if today_date.0 == year_choosen and today_date.1 == month_name and today_date.2 == day %}
                                                    class="btn btn-success btn-sm mx-auto position-relative"
                                                {% else %}
                                                    class="btn btn-primary btn-sm mx-auto position-relative"
                                                {% endif %}
                                                style="width: 100%"
                                                data-bs-toggle="modal" 
                                                data-bs-target="#exampleModal{{ year_choosen }}{{ month_name }}{{ day }}"
                                            >
                                                {{ day }}

                                                {% with date_day=year_choosen|add:'-'|add:month_name|add:'-'|add:day %}
                                                    {% if date_day in events.keys %}
                                                        <span class="position-absolute badge rounded-pill bg-{{ events|get_event_color_value:date_day }}">
                                                            {{ events|get_count_value:date_day }}
                                                        </span>
                                                    {% endif  %}
                                                {% endwith %}
                                                
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade text-dark" id="exampleModal{{ year_choosen }}{{ month_name }}{{ day }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="margin: auto;">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-dark text-light">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ day }} {{ month_name }} {{ year_choosen }}</h1>
                                                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body bg-dark text-start">
                                                            {% with date_day=year_choosen|add:'-'|add:month_name|add:'-'|add:day %}
                                                                {% if date_day in events.keys %}
                                                                    {% for event in events|get_events_values:date_day %}
                                                                        {% if current_user_id == event.0.owner.id %}
                                                                        <div class="alert alert-success" style="padding: 0.5rem;">
                                                                        {% else %}
                                                                        <div class="alert alert-danger" style="padding: 0.5rem;">
                                                                        {% endif %}
                                                                            <table class="table text-dark m-0" style="--bs-table-bg: rgba(0,0,0,0)">
                                                                                <tr>
                                                                                    <td style="width: 50%; padding: 0.1rem; background-color: rgba(0,0,0,0)" class="text-break">
                                                                                        <h6 style="margin: 0rem;">Tytuł:</h6>
                                                                                    </td>

                                                                                    <td style="width: 50%; padding: 0.1rem; background-color: rgba(0,0,0,0)" class="text-break">
                                                                                        <h6 style="margin: 0rem;">Data i godzina:</h6>
                                                                                    </td>
                                                                                </tr>
            
                                                                                <tr>
                                                                                    <td class="text-break" style="padding: 0.1rem; background-color: rgba(0,0,0,0)">
                                                                                        <label>{{ event.0.event_title }}</label>
                                                                                    </td>
                                                
                                                                                    <td class="text-break" style="padding: 0.1rem; background-color: rgba(0,0,0,0)">
                                                                                        <label>{{ event.0.event_date}} {{ event.0.event_time}}</label>
                                                                                    </td>
                                                                                </tr>
            
                                                                                <tr>
                                                                                    <td style="width: 50%; padding: 0.1rem; background-color: rgba(0,0,0,0)" class="text-break">
                                                                                        <h6 style="margin: 0rem;">Lokalizacja:</h6>
                                                                                    </td>
                                                
                                                                                    <td style="width: 50%; padding: 0.1rem; background-color: rgba(0,0,0,0)" class="text-break">
                                                                                        <h6 style="margin: 0rem;">Autor:</h6>
                                                                                    </td>
                                                                                </tr>
                                                
                                                                                <tr>
                                                                                    <td style="width: 50%; padding: 0.1rem; background-color: rgba(0,0,0,0)" class="text-break">
                                                                                        <label>{{ event.0.event_location }}</label>
                                                                                    </td>
                                                
                                                                                    <td style="width: 50%; padding: 0.1rem; background-color: rgba(0,0,0,0)" class="text-break">
                                                                                        <label>{{ event.0.owner }}</label>
                                                                                    </td>
                                                                                </tr>
                
                                                                                <tr>
                                                                                    <td style="width: 100%; padding: 0.1rem; background-color: rgba(0,0,0,0)" colspan="2" class="text-break">
                                                                                        <h6 style="margin: 0rem;">Opis:</h6>
                                                                                    </td>
                                                                                </tr>
                                                
                                                                                <tr>
                                                                                    <td style="width: 100%; padding: 0.1rem; background-color: rgba(0,0,0,0)" colspan="2" class="text-break">
                                                                                        <label>{{ event.0.event_description }}</label>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td colspan="2" style="padding: 0; background-color: rgba(0,0,0,0)">
                                                                                        <div class="btn-group d-flex flex-wrap" style="gap: 0.5rem; margin-top: 1rem;">
                                                                                            <div class="dropdown">
                                                                                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                    Zaproszeni ({{ event.1|length }})
                                                                                                </button>
                                                                                                <ul class="dropdown-menu">
                                                                                                    {% for f in event.1 %}
                                                                                                        <li class="p-2">{{ f }}</li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>

                                                                                            <div class="dropdown">
                                                                                                <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                    Obecni ({{ event.2|length }})
                                                                                                </button>
                                                                                                <ul class="dropdown-menu">
                                                                                                    {% for f in event.2 %}
                                                                                                        <li class="p-2">{{ f }}</li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>

                                                                                            <div class="dropdown">
                                                                                                <button class="btn btn-sm btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                    Nieobecni ({{ event.3|length }})
                                                                                                </button>
                                                                                                <ul class="dropdown-menu">
                                                                                                    {% for f in event.3 %}
                                                                                                        <li class="p-2">{{ f }}</li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div>
                                                                                            {% if event.0.owner.id != current_user_id %}
                                                                                            <div class="btn-group d-flex flex-wrap text-nowrap" style="gap: 0.5rem; margin-top: 0.5rem;">
                                                                                                <form method="POST" style="margin: 0;">
                                                                                                    {% csrf_token %}
                                                                                                    {% if current_user not in event.2 %}
                                                                                                    <button class="btn btn-sm btn-success" type="submit" name='accept_invitation' value={{ event.0.id }}>
                                                                                                    {% else %}
                                                                                                    <button class="btn btn-sm btn-success" type="submit" name='accept_invitation' value={{ event.0.id }} disabled>
                                                                                                    {% endif %}
                                                                                                    Przyjmij zaproszenie
                                                                                                </button>
                                                                                                </form>

                                                                                                <form method="POST" style="margin: 0;">
                                                                                                    {% csrf_token %}
                                                                                                    {% if current_user not in event.3 %}
                                                                                                    <button class="btn btn-sm btn-danger" type="submit" name='decline_invitation' value={{ event.0.id }}>
                                                                                                    {% else %}
                                                                                                    <button class="btn btn-sm btn-danger" type="submit" name='decline_invitation' value={{ event.0.id }} disabled>
                                                                                                    {% endif %}
                                                                                                        Odrzuć zaproszenie
                                                                                                    </button>
                                                                                                </form>
                                                                                            </div>
                                                                                            {% else %}
                                                                                            <div class="" style="margin-top: 0.5rem;">
                                                                                                <button class="btn btn-sm btn-dark">
                                                                                                    <a class="link-light text-decoration-none" href="{% url 'my_apps:meetings_edit_event' id=event.0.id %}">
                                                                                                            Edytuj / usuń
                                                                                                    </a>
                                                                                                </button>
                                                                                            </div>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        {% endfor %}
            
    </div>

</div>

{% comment %} Wszystkie wydarzenia {% endcomment %}
<div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 600px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Wszystkie wydarzenia w {{ year_choosen }}</h5>
        <button type="button" class="btn btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        {% for past_future, events in past_future_events.items %}
        <div>
            <label class="h2 text-light">{{ past_future }}</label>
            {% if not events %}
                <br><br>
            {% else %}    
                {% for event, color in events %}
                    <div class="alert alert-{{ color }} text-dark" style="padding: 0.5rem 0rem 0.5rem 0rem;">
                        <div class="d-flex flex-wrap flex-row">
                            <div class="flex-column" style="padding: 0rem 1rem 0rem 1rem;">
                                <label style="margin: 0rem;">
                                    <strong>Tytuł:</strong>
                                    {{ event.event_title }}
                                </label>
                            </div>
                            <div class="flex-column" style="padding: 0rem 1rem 0rem 1rem;">
                                <label style="margin: 0rem;">
                                    <strong>Data i godzina:</strong>
                                    {{ event.event_date}} {{ event.event_time}}
                                </label>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-wrap flex-row">
                            <div class="flex-column" style="padding: 0rem 1rem 0rem 1rem;">
                                <label style="margin: 0rem;">
                                    <strong>Lokalizacja:</strong>
                                    {{ event.event_location }}
                                </label>
                            </div>
                            <div class="flex-column" style="padding: 0rem 1rem 0rem 1rem;">
                                <label style="margin: 0rem;">
                                    <strong>Autor:</strong>
                                    {{ event.owner }}
                                </label>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-wrap flex-row">
                            <div class="flex-column" style="padding: 0rem 1rem 0rem 1rem;">
                                <label style="margin: 0rem;">
                                    <strong>Opis:</strong>
                                    {{ event.event_description }}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}