{% extends 'my_apps/homepage_base.html' %}
{% load filters %}

{% block content %}

<div class="col-11 mx-auto" style="min-height: 100vh;">

    {% if messages %}
        <div class="mb-2"><label class="h3">Powiadomienia<label></div>
        {% for message in messages %}
            <div class="alert alert-{{ message.extra_tags }} h6 text-dark" style="padding: 0.5rem 0.5rem;">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if upcoming_events %}
        <div class="bg-dark mb-2" style="border-radius: 10px; padding: 0.75rem;">
            <div class="mb-2"><label class="h3">Nadchodzące wydarzenia<label></div>
            {% for event in upcoming_events %}
                <div class="alert alert-{{ event.1 }} small text-dark" style="padding: 0.5rem; margin: 0; margin-top: 0.5rem;">
                    <label>{{ event.0.event_date }} - {{ event.0.event_time }}</label>
                    <br>
                    <span class="h6">{{ event.0.event_title }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if new_invitations %}
        <div class="bg-dark mb-2" style="border-radius: 10px; padding: 0.75rem;">
            <div class="mb-2"><label class="h3">Nowe zaproszenia<label></div>
            {% for event in new_invitations %}
                <div class="alert alert-warning small text-dark" style="padding: 0.5rem; margin: 0; margin-top: 0.5rem;">
                    <label>{{ event.event.event_date }} - {{ event.event.event_time }}</label>
                    <br>
                    <span class="h6">{{ event.event.event_title }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="container-fluid center" style="margin-top: 2rem; padding: 0;">
        
        <label style="margin: 0; padding: 0; margin-bottom: 0.5rem;">
            <h4 style="margin: 0; padding: 0;">Pasek postępu {{ today_date.0 }} roku:</h4>
        </label>

        <div class="progress" role="progressbar" aria-label="Animated striped example" style="height: 25px; margin: 0; padding: 0;"> 
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ year_progress }}%">
                {% if year_progress < 2.5 %}
                {% else %}
                    <label><strong>{{ year_progress }}%</strong></label>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin: 0; padding: 0; margin-top: 2rem;">

        <div class="accordion accordion-flush text-dark" id="range_year">

            <div class="accordion-item">

                <label class="h2 accordion-header w-100">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Kalendarz {{ year_choosen }}
                    </button>
                </label>
                
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#range_year">
                    <div class="d-flex justify-content-center mx-auto flex-wrap" style="padding: 1rem;">

                        <form method="POST" style="padding: 0; margin: 0;">
                            {% csrf_token %}
                            {% for year in year_range %}
                                {% if year == today_date.0 %}
                                    <button name="year_button" class="btn btn-success" value="{{ year }}" style="margin: 0.25rem;"> 
                                        <label>{{ year }}</label>
                                    </button>
                                {% else %}
                                    <button name="year_button" class="btn btn-primary" value="{{ year }}" style="margin: 0.25rem;">
                                        <label>{{ year }}</label>
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="d-flex justify-content-center mx-auto gap-2 text-nowrap flex-wrap" style="margin: 2rem;">
        <a class="btn btn-md btn-primary text-nowrap" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Wszystkie wydarzenia
            <span class="badge bg-success" name="event_counter">{{ all_events_counter }}</span>
        </a>
    </div>

    <div class="row mx-auto" style="margin-top: 2rem; padding: 0rem;">
        {{ calendar.0|safe }}
        
        {{ calendar.1|safe }}
    </div>

</div>

{% comment %} Wszystkie wydarzenia {% endcomment %}
<div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 600px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Wszystkie wydarzenia w {{ year_choosen }}</h5>
        <button type="button" class="btn btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        {% for date, events in  all_events.items %}
            {% for event in events %}
                {{ event|safe }}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", "button[name='accept'], button[name='decline']", function (e) {
            e.preventDefault();

            const button = $(this);
            const eventId = button.val();
            const action = button.attr("name");
            const form = button.closest("form");

            $.ajax({
                url: form.attr("action"),
                type: "POST",
                data: {
                    csrfmiddlewaretoken: form.find("[name='csrfmiddlewaretoken']").val(),
                    [action]: eventId
                },
                success: function (response) {
                    if (response.accept_decline) {
                        $(`.event-card[data-event-id="${response.event_id}"]`).replaceWith(response.event);

                        if (response.update_counter) {
                            $('#'+response.day_id_to_update).find('span.badge').removeClass("bg-warning text-dark");
                            $('#'+response.day_id_to_update).find('span.badge').addClass("bg-danger text-light");
                        }
                    }
                },
            });
        });
    });
</script>

{% endblock content %}