{% extends "my_apps/homepage_base.html" %}

{% block content %}
<div class="col-11 mx-auto" style="min-height: 100%;">

    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-{{ m.extra_tags }}" role="alert">{{ m }}</div>
        {% endfor %}
    {% endif %}

    <div class="dropdown text-center" style="margin-bottom: 1rem;">
        <label class="h2 m-0">
            Dodaj wydarzenie w 
            <button class="btn btn-lg btn-outline-light dropdown-toggle" style="padding: 0.25rem 0.5rem 0.35rem 0.5rem;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ year }}
            </button>
            <ul class="dropdown-menu">
                {% for y in year_range %}
                    <li><a class="dropdown-item" href="{% url 'my_apps:meetings_new_event' y %}">{{ y }}</a></li>
                {% endfor %}
            </ul>
        </label>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            <label class="h3">
                {{ form_new_event.event_title.label }}
            </label>
            {{ form_new_event.event_title }}
        </div>
        
        <div>
            <label class="h3">
                {{ form_new_event.event_location.label }}
            </label>
            {{ form_new_event.event_location }}
        </div>
        
        <div>
            <label class="h3">
                {{ form_new_event.event_description.label }}
            </label>
            {{ form_new_event.event_description }}
        </div>
        
        <div>
            <label class="h3">
                {{ form_new_event.event_date.label }}
            </label>
            {{ form_new_event.event_date }}

            <button type="button" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDate">
                Wybierz datę
            </button>
        </div>

        <div style="margin-top: 1rem;">
            <div class="dropdown">
                <div class="form-group d-flex flex-row flex-wrap">
                    <div class="flex-col m-1">
                        <label class="h2 m-0 p-0">
                            {{ form_new_event.event_time.label }}:
                        </label>
                    </div>

                    <div class="flex-col m-1">
                        <select class="form-select" name="selected_hour">
                            {% for h in hours %}
                                <option>{{ h }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flex-col m-1">
                        <label class="h2 m-0 p-0">
                            :
                        </label>
                    </div>

                    <div class="flex-col m-1">
                        <select class="form-select" name="selected_minute">
                            {% for m in minutes %}
                                <option>{{ m }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-2 mb-2">
            <label class="h1">Zaproś znajomych</label>
            <div class="text-start d-flex flex-row flex-wrap mt-2" style="gap: 2rem;">
                {% for friend in friends %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="friends" value="{{ friend.id }}" id="friend{{ friend.id }}">
                        <label class="form-check-label h6" for="friend{{ friend.id }}">
                            {{ friend }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-md btn-success" type="submit" name="new_event">
                Zapisz
            </button>

        </div>
    </form>

    <div class="d-flex justify-content-end">
        <a href="{% url 'my_apps:meetings_calendar' %}">
            <button class="btn btn-md btn-primary justify-content-end">
                Wróć
            </button>
        </a>
    </div>

</div>


<div class="modal fade text-dark" id="exampleModalDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="max-height: 80%;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Wybierz datę</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% for month, weeks in calendar.items %}
                    <table class="table">
                        <thead>
                            <label class="h3">{{ month }}</label>

                            <tr class="border-bottom">
                                {% for day in days %}
                                    <th class="flex-fill text-center">{{ day }}</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for week in weeks %}
                                <tr>
                                    {% for day in week %}
                                        {% if day == '00' %}
                                            <th></th>
                                        {% else %}
                                            <th class="text-center" style="margin: 0; padding: 0.15rem;">
                                                <button data-bs-dismiss="modal" 
                                                {% if today_date.0 == year and today_date.1 == month and today_date.2 == day %}
                                                class="btn btn-sm btn-success date-link" 
                                                {% else %}
                                                class="btn btn-sm btn-primary date-link" 
                                                {% endif %}
                                                value="{{ day }}/{{ forloop.parentloop.parentloop.counter }}/{{ year }}" 
                                                style="width: 100%">
                                                    {{ day }}
                                                </button>
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        // Funkcja, która reaguje na kliknięcie na datę
        $('.date-link').click(function(event) {
            event.preventDefault(); // Zatrzymuje domyślne zachowanie przycisku
            var dateParts = $(this).val().split('/');
            var selectedDate = dateParts[0] + '-' + dateParts[1].padStart(2, '0') + '-' + dateParts[2];
            $("#id_event_date").val(selectedDate);
        });
    });
</script>
{% endblock content %}