{% extends 'my_apps/homepage_base.html' %}

{% block content %}


<div class="container border col-10" style="min-height: 45rem;">
    <div class="row justify-content-center border border-primary">

        <div>
            <label class="display-6">{{ group.expense_title }}</label>
        </div>

        <div class="btn">
            {% if current_user == group.owner %}
                <button class="btn btn-success btn-sm" style="margin-top: 0.5rem; margin-bottom: 0.5rem;"data-bs-toggle="modal" data-bs-target="#add_friend">Zaproś znajomych</button>
            {% endif %}

            <button class="btn btn-primary btn-sm dropdown-toggle" style="margin-top: 0.5rem; margin-bottom: 0.5rem;" 
                    data-bs-toggle="dropdown" aria-expanded="false">
                Osoby w grupie
            </button>
            
                    <ul class="dropdown-menu">
                        <form method="post" action="{% url 'my_apps:split_group' group.id %}" style="margin-bottom: 0rem;">
                            {% csrf_token %}
                            {% for name, id in invited_friend_to_group_dict.items %}
                                {% if current_user == group.owner %}
                                    <li class="dropdown-item">
                                        <div class="row">
                                            <div class="col d-flex justify-content-start">
                                                {{ name }}
                                            </div>
    
                                            <div class="col d-flex justify-content-end">
                                                <button type="submit" class="btn btn-danger btn-sm" name="del_friend" value="{{ id }}">Usuń</button>
                                            </div>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="dropdown-item">{{ friend }}</li>
                                {% endif %}
                            {% empty %}
                                <li class="dropdown-item">pusto</li>
                            {% endfor %}
                        </form>
                    </ul>

            <button class="btn btn-danger btn-sm" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Dodaj wydatek</button>
        </div>

        <div>
        </div>



    </div>
</div>





{#} Modal dla przycisku Zaproś znajomych {#}
<div class="modal fade" id="add_friend" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Lista znajomych</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action="{% url 'my_apps:split_group' group.id %}">
                <div class="modal-body">
                        {% csrf_token %}
                        {% for friend in friend_list %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="friends" value="{{ friend.id }}" id="friend{{ friend.id }}">
                                    <label class="form-check-label" for="friend{{ friend.id }}">{{ friend }}</label>
                                </div>
                        {% endfor %}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" name="invite_to_group">Zaproś</button>
                </div>
            </form>
        </div>
    </div>
</div>





{% endblock content %}