{% extends 'my_apps/homepage_base.html' %}

{% block content %}

<div class="container text-dark d-flex justify-content-center align-items-center" style="min-height: 100%;">
    <div class="row" style="margin: 0; padding: 0;">
        <div class="bg-body-tertiary rounded bg-light">
            <div>
                <h1 style="margin-top: 2rem; margin-bottom: 2rem;">Zaloguj się</h1>
            </div>
            <form method="post" class="mb-0" action="{% url 'my_apps:users_log_in' %}">
                {% csrf_token %}
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Login" name='username'>
                    <label for="floatingInput">Nazwa użytkownika</label>
                </div>
                
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Hasło" name='password'>
                    <label for="floatingPassword">Hasło</label>
                </div>

                <div class="mb-0 d-grid gap-2">
                    <button name="submit" class="btn btn-success shadow-lg">Zaloguj</button>
                </div>
            </form>
            <div style="margin-top: 2rem; margin-bottom: 2rem; text-wrap text-brek">
                <h6 class="mb-0 mt-1">Jeśli nie pamiętasz hasła skontaktuj się z twórcą strony</h6>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
