{% extends 'my_apps/homepage_base.html' %}

{% block content %}
<div class="container-fluid text-dark text-center col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6" style="margin: auto; min-height: 100%">
    <div class="justify-content-center">

        <div class="bg-body-tertiary rounded bg-light" style="padding: 1rem; margin-top: 10rem; margin-bottom: 10rem;">
            {% if user.is_superuser %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class= "btn btn-sm btn-success" name="download_rates" style= "margin-top: 1rem;">Pobierz kursy</button>
                </form>
            </div>
            {% endif %}

            <div>
                <label class="h1 display-4 border-bottom">Kalkulator walutowy</label>
            </div>

            <div>
                <label class= "h6">Dane z dnia: {{ selected_data.currencies.effectiveDate }}</label>
            </div>

            <div>
                <label class= "h6"><a href="http://api.nbp.pl/api/exchangerates/tables/a/" target="_blank">Źródło danych</a></label>
            </div>

            <div style="margin-bottom: 2rem;">
                <label class= "h6"><a href="{% url 'currency_calc:currency_calc_records' %}" target="_blank">Wszystkie rekordy</a></label>
            </div>

            {% if messages %}
                {% for m in messages %}
                    <div class="col-11 justify-content-center mx-auto alert alert-{{ m.extra_tags }} text-dark text-wrap">
                        <label class="h1">{{ m }}</label>
                    </div>
                {% endfor %}
            {% endif %}

            <div style="margin-top: 2rem;">
                <form method="post">
                    {% csrf_token %}
                    <div style="margin: 1rem;">
                        <div>
                            <label class="h4 display-6">Przelicz PLN na inną walutę</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="text" class="form-control" name="PLN" id="PLN" placeholder="pln" value= {{ input_value1 }}>
                            <label for="PLN">Kwota w PLN</label>
                        </div>

                        <div class="input-group" style="margin-top: 1rem; margin-bottom: 1rem;">
                            <label class="input-group-text" for="inputGroupSelect01">Waluta</label>
                            <select class="form-select" id="inputGroupSelect01" name="selected_currency">
                                {% for currency in selected_data.currencies.rates %}
                                    {% if currency.code == 'USD' %}
                                        <option value= {{ currency.code }} selected >
                                    {% else %}
                                        <option value= {{ currency.code }}>
                                    {% endif %}
                                            {{ currency.code }} - {{ currency.currency.capitalize }} ({{ currency.mid }} PLN)
                                        </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success btn" style="width: 100%;" name="PLN_to_other">Przelicz</button>
                        </div>
                    </div>
                </form>
            </div>

            <div style="margin-top: 5rem;">
                <form method="post">
                    {% csrf_token %}
                    <div style="margin: 1rem;">
                        <div>
                            <label class="h4 display-6">Przelicz inną walutę na PLN</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="text" class="form-control" name="Other" id="Other" placeholder="Other" value= {{ input_value2 }}>
                            <label for="Other">Kwota do przeliczenia na PLN</label>
                        </div>

                        <div class="input-group" style="margin-top: 1rem; margin-bottom: 1rem;">
                            <label class="input-group-text" for="inputGroupSelect01">Waluta</label>
                            <select class="form-select" id="inputGroupSelect01" name="selected_currency">
                                {% for currency in selected_data.currencies.rates %}
                                    {% if currency.code == 'USD' %}
                                        <option value= {{ currency.code }} selected >
                                    {% else %}
                                        <option value= {{ currency.code }}>
                                    {% endif %}
                                            {{ currency.code }} - {{ currency.currency.capitalize }} ({{ currency.mid }} PLN)
                                        </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success btn" style="width: 100%;" name="other_to_PLN">Przelicz</button>
                        </div>
                    </div>
                </form>
            </div>

{% comment %}
            <div class="" style="margin-top: 5rem;">
                <button class="btn btn-lg btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Wybierz dane z innego dnia
                </button>
            </div>

            <div class="collapse" id="collapseExample">
                <div class="d-flex flex-wrap flex-row justify-content-center mx-auto" style="margin-top: 1rem;">
                    {% for r in records %}
                        <form method="POST" class="m-1 p-0">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-primary" type="submit" value="{{ r.id }}" name="select_data">
                                {{ r.currencies.effectiveDate }}
                            </button> 
                        </form>
                    {% endfor %}
                </div>
            </div>

            <div style="margin-top: 5rem;">
                <label class="display-6">Kod Pythona, którym pobierzesz wszystkie rekordy:</label>

                <div class="text-start user-select-all" style="background-color: black; color: white; border-radius: 10px; padding: 1rem; margin-top: 1rem;">
                    <pre style="margin: 0; padding: 0;"><code># Wersja Pythona: 3.11.1
# pip install requests==2.30.0 beautifulsoup4==4.12.3
import bs4
import json
import requests

def all_records() -> list[dict]:
    url = "https://www.pskrzynski.pl/currency_calc_records/"

    get = requests.get(url= url).text

    bs = bs4.BeautifulSoup(get, "html.parser") \
        .find_all('div', {'class': 'record'})

    records = []
    for b in bs:
        b: bs4.element.Tag

        s = str(b.contents[0]) \
            .strip() \
            .replace("'", '"')
        
        records.append(
            json.loads(s)
        )
    return records</code></pre>
                </div>
            </div>
{% endcomment %}
        </div>

    </div>
</div>

{% endblock content %}