{% extends 'my_apps/homepage_base.html' %}

{% block content %}
<label>{{ TEST }}</label>
<div class="container text-dark text-center col-sm-12 col-lg-6 col-xl-5">
    <div class="justify-content-center">

        <div class="bg-body-tertiary rounded bg-light" style="padding: 1rem; margin-top: 15rem; margin-bottom: 15rem;">
            <label class="h1 display-4 border-bottom">Kalkulator walutowy</label>

            {% if user.is_superuser %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class= "btn btn-sm btn-success" name="download_rates">Pobierz kursy</button>
                </form>
            </div>
            {% endif %}

            <div style="margin-top: 5rem;">
                <form method="post">
                    {% csrf_token %}
                    <div style="margin: 1rem;">
                        <div>
                            <label class="h4 display-6">Przelicz PLN na inną walutę</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="text" class="form-control" id="PLN" placeholder="pln">
                            <label for="PLN">Kwota w PLN</label>
                        </div>

                        <div class="input-group" style="margin-top: 1rem; margin-bottom: 1rem;">
                            <label class="input-group-text" for="inputGroupSelect01">Wybierz walutę</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="1" name="">One</option>
                            </select>
                        </div>

                        <div>
                            <button class="btn btn-success btn" style="width: 100%;" name="PLN_to_other">Przelicz</button>
                        </div>
                    </div>
                </form>
            </div>

            <div style="margin-top: 5rem;">
                <form method="post">
                    {% csrf_token %}
                    <div style="margin: 1rem;">
                        <div>
                            <label class="h4 display-6">Przelicz inną walutę na PLN</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="text" class="form-control" id="PLN" placeholder="pln">
                            <label for="PLN">Kwota do przeliczenia na PLN</label>
                        </div>

                        <div class="input-group" style="margin-top: 1rem; margin-bottom: 1rem;">
                            <label class="input-group-text" for="inputGroupSelect01">Wybierz walutę</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="1" name="">One</option>
                            </select>
                        </div>

                        <div>
                            <button class="btn btn-success btn" style="width: 100%;" name="other_to_PLN">Przelicz</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}