{% extends "my_apps/homepage_base.html" %}

{% block content %}

<div class="col-11 mx-auto justify-content-center">
    {% if user.is_authenticated %}
        {{ new_book_form|safe }}
    {% endif %}

    <div class="btn-group mb-2" role="group" aria-label="Basic example">
        {% if user.is_authenticated %}
            <button class="btn btn-sm btn-success"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#addBookOffcanvas">
                + Dodaj książkę
            </button>
        {% endif %}

        {% if all_books %}
            <!-- Przycisk Pokaż / Ukryj tytuły -->
            <button class="btn btn-sm btn-primary" onclick="toggleAllTitles()">
                Pokaż / Ukryj tytuły
            </button>
        {% else %}
            <button class="btn btn-sm btn-primary" onclick="toggleAllTitles()" disabled>
                Pokaż / Ukryj tytuły
            </button>
        {% endif %}
    </div>
    
    <br>
    {% comment %} <button class="btn btn-sm btn-warning">
        Zobacz co czytają inni
    </button> {% endcomment %}

    <!-- KSIĄŻKI --> 
    <div id="all_books" style="margin-top: 2rem">
        {% if not all_books %}
            <div class="text-center">
                <label class="h1">Dodaj książkę, którą udało ci się właśnie ukończyć!</label>
            </div>    
        {% else %}
            {{ all_books|safe }}
        {% endif %}
    </div>

</div>

<script>
    function toggleAllTitles() {
        const boxes = document.querySelectorAll(".book-box");

        boxes.forEach(box => {
            const title = box.querySelector(".book-title");

            if (box.style.width === "110px" || !box.style.width) {
                box.style.width = "300px";
                title.style.display = "block";
            } 
            
            else {
                box.style.width = "110px";
                title.style.display = "none";
            }
        });
    };

    
    $(document).ready(function() {
        $(".deleteBookForm").on("submit", function(e) {
            e.preventDefault();

            var form = this;
            var bookId = $(form).data("book-id");

            $.ajax({
                url: "{% url 'books:books' %}".replace("0", bookId),
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    del_book: bookId
                },
                success: function(data) {
                    if (data.status === "success") {

                        // Jeśli backend mówi: redirect → przeładuj stronę
                        if (data.redirect) {
                            window.location.href = data.redirect_url;
                            return;
                        }
                        
                        // Zamknij modal tej książki
                        var modal = bootstrap.Modal.getInstance(document.getElementById("bookModal" + data.book_id));
                        modal.hide();

                        // Usuń książkę z DOM
                        //$("#id_book_" + data.book_id).remove();

                        // Podmień licznik roku
                        $("#" + data.edit_year).empty();
                        $("#" + data.edit_year).html(data.yearhtml);

                        $("#loop_" + data.edit_year).empty();
                        $("#loop_" + data.edit_year).html(data.bookshtml);

                        const boxes = document.querySelectorAll(".book-box");
                        boxes.forEach(box => {
                            const title = box.querySelector(".book-title");
                            box.style.width = "110px";
                            title.style.display = "none";
                        });

                    }
                }
            });
        });
    });

    
    $(document).ready(function() {
        $(".editBookForm").on("submit", function(e) {
            e.preventDefault();

            var form = this;
            var formData = new FormData(form);

            $.ajax({
                url: "{% url 'books:books' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data.status === "success") {

                        // Jeśli backend mówi: redirect → przeładuj stronę
                        if (data.redirect) {
                            window.location.href = data.redirect_url;
                            return;
                        }

                        else {
                            // Zamknij modal
                            var modal = bootstrap.Modal.getInstance($(form).closest(".modal")[0]);
                            modal.hide();

                            // Odśwież listę książek
                            $("#all_books").html(data.all_books);
                        }
                    }
                }
            });
        });
    });
</script>

{% endblock content %}