{% extends 'my_apps/homepage_base.html' %}
{% load static %}

{% block content %}

<style>
    .title-div {
        margin: 0rem; 
        margin-top: 5rem;
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 50px;
        background-color: #fff200;
        scroll-margin-top: 65px;
        color: #000000;
    }

    .title-label {
        margin: 0rem;
        padding: 0rem;
        color: #000000;
    }

    .title-label-en {
        margin: 0rem;
        margin-top: 1rem;
        padding: 0rem;
        color: #000000;
    }

    .chapter-div {
        background-color: rgba(1, 1, 1, 1);
        margin: 0rem;
        padding: 2rem;
        border-radius: 50px;
        scroll-margin-top: 75px;
    }

    .chapter-label {
        margin: 0rem;
        padding: 0rem;
        color: #FFFFFF;
    }

    .chapter-label-en {
        margin: 0rem;
        padding: 0rem;
        color: #b0b0b0;
    }

    .img-div {
        margin: 0rem;
        padding: 1rem;
    }

    .img-img {
        margin: 0rem;
        padding: 0rem;
        border-radius: 15px;
    }

    .code-div {
        margin: 0rem;
        padding: 1rem;
    }

    .code-pl {
        margin: 0rem;
        padding: 0rem;
        color: #000000;
    }

    .code-en {
        margin: 0rem;
        padding: 0rem;
        color: #b0b0b0;
    }

    .code-label {
        margin: 0rem;
        padding: 1rem;
        background-color: #000000;
        color: #FFFFFF;
        border-radius: 15px;
    }

    .ul-li-a {
        margin: 0rem;
        padding: 0rem;
    }
</style>

<div class="container-fluid col-11" style="margin: auto; padding: 0">
    <div class="row col-sm-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 mx-auto" style="margin: 0; padding: 0">

        <div class="title-div text-center" style="margin: 0rem; padding: 1.5rem;" id="chapter0">
            <label class="title-label h1">
                Zawartość
            </label>
            <br>
            <label class="title-label-en h5">
                Contents
            </label>
            <ul class='list-group list-group-numbered text-start' style="padding-top: 3rem; padding-bottom: 0rem; padding-left: 0rem; padding-right: 0rem;">

                <li>
                    <a href="#chapter1" class="ul-li-a link-dark">Technologie - Technologies</a>
                </li>

                <li style="margin-top: 1rem;">
                    <a href="#chapter2" class="ul-li-a link-dark">OVH, CloudFlare</a>
                    <ul class='list-group list-group-numbered' style="margin: 0rem; padding: 0rem; padding-left: 1rem;">
                        <li><a href="#chapter2.1" class="ul-li-a link-dark">Skopiuj IPv6 - Copy IPv6</a></li>
                        <li><a href="#chapter2.2" class="ul-li-a link-dark">OVH rekord AAAA - OVH record AAAA</a></li>
                        <li><a href="#chapter2.3" class="ul-li-a link-dark">Rekord AAAA - Record AAAA</a></li>
                        <li><a href="#chapter2.4" class="ul-li-a link-dark">IPv6 w nowym rekordzie - IPv6 in new record</a></li>
                        <li><a href="#chapter2.5" class="ul-li-a link-dark">IPv6 w nowym rekordzie - IPv6 in new record</a></li>
                        <li><a href="#chapter2.6" class="ul-li-a link-dark">CloudFlare</a></li>
                        <li><a href="#chapter2.7" class="ul-li-a link-dark">Dodaj domenę - Add new domain</a></li>
                        <li><a href="#chapter2.8" class="ul-li-a link-dark">Darmowy plan - Free plan</a></li>
                        <li><a href="#chapter2.9" class="ul-li-a link-dark">Nowy rekord - New record</a></li>
                        <li><a href="#chapter2.10" class="ul-li-a link-dark">Nowy rekord - New record</a></li>
                        <li><a href="#chapter2.11" class="ul-li-a link-dark">Nameservers</a></li>
                        <li><a href="#chapter2.12" class="ul-li-a link-dark">HTTPS</a></li>
                        <li><a href="#chapter2.13" class="ul-li-a link-dark">OVH serwery DNS - OVH DNS servers</a></li>
                    </ul>
                </li>

                <li style="margin-top: 1rem;">
                    <a href="#chapter3" class="ul-li-a link-dark">Instalacja Pythona i Nginx - Installing Python and Nginx</a>
                    <ul class='list-group list-group-numbered' style="margin: 0rem; padding: 0rem; padding-left: 1rem;">
                        <li><a href="#chapter3.1" class="ul-li-a link-dark">Nginx</a></li>
                        <li><a href="#chapter3.2" class="ul-li-a link-dark">Python, virtualenv</a></li>
                        <li><a href="#chapter3.3" class="ul-li-a link-dark">Repozytorium - Repository</a></li>
                        <li><a href="#chapter3.4" class="ul-li-a link-dark">Środowisko wirtualne - Virtualenv</a></li>
                        <li><a href="#chapter3.5" class="ul-li-a link-dark">Włącz środowisko wirtualne - Turn on the virtualenv</a></li>
                        <li><a href="#chapter3.6" class="ul-li-a link-dark">Baza danych, admin - Database, admin</a></li>
                        <li><a href="#chapter3.7" class="ul-li-a link-dark">Plik .env - .env file</a></li>
                    </ul>
                </li>

                <li style="margin-top: 1rem;">
                    <a href="#chapter4" class="ul-li-a link-dark">Serwer nginx, własny błąd 404 - Nginx server, own 404 error</a>
                    <ul class='list-group list-group-numbered' style="margin: 0rem; padding: 0rem; padding-left: 1rem;">
                        <li><a href="#chapter4.1" class="ul-li-a link-dark">Nginx serwer - Nginx server</a></li>
                        <li><a href="#chapter4.2" class="ul-li-a link-dark">Błąd 404 - 404 error</a></li>
                    </ul>
                </li>

                <li style="margin-top: 1rem;">
                    <a href="#chapter5" class="ul-li-a link-dark">Gunicorn</a>
                    <ul class='list-group list-group-numbered' style="margin: 0rem; padding: 0rem; padding-left: 1rem;">
                        <li><a href="#chapter5.1" class="ul-li-a link-dark">Plik konfiguracyjny - Configuration file</a></li>
                        <li><a href="#chapter5.2" class="ul-li-a link-dark">Uruchom Gunicorna - Run Gunicorn</a></li>
                        <li><a href="#chapter5.3" class="ul-li-a link-dark">Wyłączenie Gunicorna - Disabling Gunicorn</a></li>
                        <li><a href="#chapter5.4" class="ul-li-a link-dark">Przeładowanie Gunicorna - Reloading Gunicorn</a></li>
                    </ul>
                </li>

            </ul>
        </div>



        {% comment %} CHAPTER 1 {% endcomment %}
        <div class="title-div text-center" style="" id="chapter1">
            <label class="title-label h1">
                1. Technologie
            </label>
            <br>
            <label class="title-label-en h5">
                1. Technologies
            </label>
        </div>

        <div class="chapter-div" style="">
            <label class="chapter-label fs-5">
                Backend: Python 3.11.1 (3.10.2 na VPS - 3.10.2 on VPS), Django 4.1.7<br>
                Frontend: Bootstrap<br>
                Dostawca domeny (Domain provider): OVH<br>
                Tunelowanie z IPv6 (Tunneling from IPv6): CloudFlare<br>
                VPS: Mikrus2.1<br>
                Serwer WWW (Server WWW): Nginx, Gunicorn<br>

            </label>
        </div>


        {% comment %} CHAPTER 2 {% endcomment %}
        <div class="title-div text-center" style="" id="chapter2">
            <label class="title-label h1">
                2. Dodanie adresu IP do OVH i CloudFlare
            </label>
            <br>
            <label class="title-label-en h5">
                2. Adding an IP address to OVH and CloudFlare
            </label>
        </div>



        <div class="chapter-div" style="" id="chapter2.1">
            <label class="chapter-label fs-5">
                2.1. Zaloguj się na swój serwer i skopiuj widoczny w czerwonym prostokącie adres IPv6
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.1. Log in to your server and copy the IPv6 address shown in the red rectangle
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/0.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.2">
            <label class="chapter-label fs-5">
                2.2. Zaloguj się do swojego konta OVH i dodaj nowy rekord
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.2. Log in to your OVH account and add a new record
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/1.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.3">
            <label class="chapter-label fs-5">
                2.3. Dodaj rekord AAAA
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.3. Add AAAA record
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/2.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.4">
            <label class="chapter-label fs-5">
                2.4. Dodaj adress IPv6 w miejsce czarnego prostokąta
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.4. Add the IPv6 address in place of the black rectangle
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/3.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.5">
            <label class="chapter-label fs-5">
                2.5. Dodaj adress IPv6 w miejsce czarnego prostokąta
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.5. Add the IPv6 address in place of the black rectangle
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/4.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.6">
            <label class="chapter-label fs-5">
                2.6. Zaloguj się na swoje konto w CloudFlare i dodaj nową stronę
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.6. Log in to your CloudFlare account and add a new site
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/5.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.7">
            <label class="chapter-label fs-5">
                2.7. Podaj swoją domenę
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.7. Enter your domain
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/6.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.8">
            <label class="chapter-label fs-5">
                2.8. Wybierz darmowy plan
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.8. Choose a free plan
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/7.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.9">
            <label class="chapter-label fs-5">
                2.9. Dodaj nowy rekord
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.9. Add new record
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/8.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.10">
            <label class="chapter-label fs-5">
                2.10. Wybierz AAAA, wpisz @, wklej ten sam adres IPv6, zaznacz pomarańczową chmurkę
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.10. Select AAAA, type @, paste the same IPv6 address, select the orange cloud
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/9.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.11">
            <label class="chapter-label fs-5">
                2.11. Punkty 2-5 zrobimy za chwilę. Przejdźmy dalej
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.11. We will do points 2-5 in a moment. Let's move on
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/10.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.12">
            <label class="chapter-label fs-5">
                2.12. Zaznacz wszystko
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.12. Mark everything
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/11.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/12.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/13.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/14.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/15.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter2.13">
            <label class="chapter-label fs-5">
                2.13. Podmień DNS u dostawcy domeny na te, o które poprosił CloudFlare
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                2.13. Replace DNS at the domain provider with the one requested by CloudFlare
            </label>
        </div>

        <div class="img-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <img src="/media/deploying/16.png" class="img-img img-fluid object-fit-none" style="width: 100%;">
            </div>
        </div>


        {% comment %} CHAPTER 3 {% endcomment %}
        <div class="title-div text-center" style="" id="chapter3">
            <label class="title-label h1">
                3. Instalacja enviroment, nginxa i potrzebnych bibliotek
            </label>
            <br>
            <label class="title-label-en h5">
                3. Installation of enviroment, nginx and needed libraries
            </label>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.1">
            <label class="chapter-label fs-5">
                3.1. Zaloguj się na VPSa i wyszukaj czy dostępny jest nginx w wersji extras
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.1. Log on to the VPS and search to see if nginx extras is available
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    apt search nginx | grep nginx
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break" style="">
                    nginx-extras/jammy-updates,now 1.18.0-6ubuntu14.4 amd64 [installed]<br>
                    &emsp;&emsp;nginx web/proxy server (extended version)
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    apt install nginx-extras
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    systemctl start nginx<br>
                    systemctl status nginx<br>
                    netstat -plntu
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.2">
            <label class="chapter-label fs-5">
                3.2. Zainstaluj potrzebne bilbioteki
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.2. Install the necessary libraries
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    sudo apt -y install python3-pip python3-dev
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    sudo pip3 install virtualenv
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.3">
            <label class="chapter-label fs-5">
                3.3. Pobierz repozytorium
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.3. Download the repository
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    cd<br>
                    mkdir pskrzynski<br>
                    cd pskrzynski<br>
                    git clone https://github.com/skrzypa/mysite
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.4">
            <label class="chapter-label fs-5">
                3.4. Wejdź w nowo utworzony folder, a następnie utwórz środowisko wirtualne
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.4. Enter the newly created folder, then create a virtual environment
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    ls<br>
                    cd mysite<br>
                    virtualenv 0_venv
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.5">
            <label class="chapter-label fs-5">
                3.5. Włącz środowisko wirtualne, a następnie pobierz potrzebne bibliotek
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.5. Turn on the virtual environment, and then download the necessary libraries
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    source 0_venv/bin/activate<br>
                    pip install django==4.1.7 gunicorn==21.2.0 django-bootstrap-v5==1.0.11 requests==2.30.0 django-environ==0.11.2 Pillow==9.5.0
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.6">
            <label class="chapter-label fs-5">
                3.6. Utwórz bazę danych, pliki statyczne oraz admina
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.6. Create database, static and admin 
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    python manage.py makemigrations<br>
                    python manage.py migrate<br>
                    python manage.py collectstatic<br>
                    python manage.py createsuperuser
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter3.7">
            <label class="chapter-label fs-5">
                3.7. Utwórz plik .env o następującej treści
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                3.7. Create an .env file with the following content
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    vim .env
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    DEBUG=False<br>
                    SECRET_KEY=’twoj klucz’<br>
                    #ALLOWED_HOSTS=[]<br>
                    #CSRF_TRUSTED_ORIGINS=[]<br>
                    ALLOWED_HOSTS=['127.0.0.1', 'pskrzynski.pl']<br>
                    CSRF_TRUSTED_ORIGINS=['http://0.0.0.0:8000', 'https://pskrzynski.pl', 'https://*.pskrzynski.pl']<br>
                    CSRF_COOKIE_SECURE=True<br>
                    SESSION_COOKIE_SECURE=True
                </label> 
            </div>
        </div>


        {% comment %} CHAPTER 4 {% endcomment %}
        <div class="title-div text-center" style="" id="chapter4">
            <label class="title-label h1">
                4. Serwer nginx, własny błąd 404
            </label>
            <br>
            <label class="title-label-en h5">
                4. Nginx server, own 404 error
            </label>
        </div>
            


        <div class="chapter-div" style="" id="chapter4.1">
            <label class="chapter-label fs-5">
                4.1. Wejdz w następujący plik, a następnie na samym początku wpisz poniższą treść
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                4.1. Go to the following file, and then at the very beginning, type the following content
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    vim /etc/nginx/sites-enabled/default
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    serwer {<br>
                    &emsp;&emsp;listen 80;<br>
                    &emsp;&emsp;listen [::]:80;<br>
                    <br>    
                    &emsp;&emsp;server_name pskrzynki.pl www.pskrzynski.pl;<br>  
                    <br>
                    &emsp;&emsp;set $expire_cache 3h;<br>  
                    &emsp;&emsp;expires $expire_cache;<br>  
                    <br>
                    &emsp;&emsp;error_page 404 /error404.html;<br> 
                    &emsp;&emsp;location = /error404.html {<br>  
                    &emsp;&emsp;&emsp;&emsp;root /var/www/my_erros;<br>  
                    &emsp;&emsp;}<br>  
                    <br>  
                    &emsp;&emsp;location / {<br>  
                    &emsp;&emsp;&emsp;&emsp;proxy_pass http://127.0.0.1:8000;<br>  
                    &emsp;&emsp;}<br>  
                    <br>  
                    &emsp;&emsp;location /podstrona_1/ {<br>  
                    &emsp;&emsp;&emsp;&emsp;proxy_pass http://127.0.0.1:8000;<br>  
                    &emsp;&emsp;}<br> 
                    <br>  
                    &emsp;&emsp;location /podstrona_2/ {<br>  
                    &emsp;&emsp;&emsp;&emsp;proxy_pass http://127.0.0.1:8000;<br>  
                    &emsp;&emsp;}<br> 
                    &emsp;&emsp;...<br>
                    }
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    nginx -t<br>
                    nginx -s reload
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter4.2">
            <label class="chapter-label fs-5">
                4.2. Stwórz własny błąd 404
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                4.2. Create your own 404 error
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    cd /var/www/<br>
                    mkdir my_errors<br>
                    vim error404.html
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    Błąd 404<br>
                    404 error
                </label> 
            </div>
        </div>


        {% comment %} CHAPTER 5 {% endcomment %}
        <div class="title-div text-center" style="" id="chapter5">
            <label class="title-label h1">
                5. Gunicorn
            </label>
            <br>
            <label class="title-label-en h5">
                5. Gunicorn
            </label>
        </div>
            


        <div class="chapter-div" style="" id="chapter5.1">
            <label class="chapter-label fs-5">
                5.1. Stwórz plik konfiguracyjny
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                5.1. Create a configuration file
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    cd<br>
                    cd pskrzynski<br>
                    mkdir gunicorn_file<br>
                    cd gunicorn_file<br>
                    vim gconf.py<br>
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    command = '/root/pskrzynski/mysite/0_venv/bin/gunicorn'<br>
                    pythonpath = '/root/pskrzynski/mysite'<br>
                    bind = '127.0.0.1:8000'<br>
                    workers = 3
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter5.2">
            <label class="chapter-label fs-5">
                5.2. Uruchom Gunicorna, jeśli zobaczysz poniższą treść po wspisaniu tej komendy, twoja strona powinna być widoczna dla każdego pod twoją domeną
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                5.2. Run Gunicorn, if you see the following after typing this command, your site should be visible to everyone under your domain
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    cd<br>
                    gunicorn -c pskrzynski/gunicorn_file/gconf.py mysite.wsgi
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break" style="">
                    [2023-12-23 18:23:31 +0000] [38868] [INFO] Starting gunicorn 21.2.0<br>
                    [2023-12-23 18:23:31 +0000] [38868] [INFO] Listening at: http://127.0.0.1:8000 (38868)<br>
                    [2023-12-23 18:23:31 +0000] [38868] [INFO] Using worker: sync<br>
                    [2023-12-23 18:23:31 +0000] [38869] [INFO] Booting worker with pid: 38869<br>
                    [2023-12-23 18:23:31 +0000] [38870] [INFO] Booting worker with pid: 38870<br>
                    [2023-12-23 18:23:32 +0000] [38871] [INFO] Booting worker with pid: 38871
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter5.3">
            <label class="chapter-label fs-5">
                5.3. Wyłączanie procesu odpowiedzialnego za Gunicorna
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                5.3. Disabling the process responsible for Gunicorn
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    ps -aux | grep gunicorn
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break" style="">
                    root       >PID<  0.0  1.8  33304 19096 ?        ...<br>
                    root       >PID<  0.0  3.4  51984 36532 ?        ...<br>
                    root       >PID<  0.0  4.0  57684 42252 ?        ...<br>
                    root       >PID<  0.0  3.4  51904 36528 ?        ...<br>
                    root       >PID<  0.0  0.2   9144  2296 pts/5    ...
                </label> 
            </div>
            <br>
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    kill -9 >PID<
                </label> 
            </div>
        </div>
            


        <div class="chapter-div" style="" id="chapter5.4">
            <label class="chapter-label fs-5">
                5.4. Przeładowanie procesu odpowiedzialnego za Gunicorna
            </label>
            <br>
            <label class="chapter-label-en fs-6">
                5.4. Reloading the process responsible for Gunicorn
            </label>
        </div>

        <div class="code-div container-fluid" style="">
            <div class="row mx-auto col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                <label class="code-label text-wrap text-break user-select-all" style="">
                    kill -HUP >PID<
                </label> 
            </div>
        </div>

    </div>
</div>

{% endblock content %}